body {
    font-family: Lato,sans-serif;
}
h1 {
    font-size: 30px;
    font-weight: 800;
    line-height: 40px;
    color: #333335;
}

@media (min-width: 480px) {
h1 {
    font-size: 40px;
    line-height: 50px;
}
}

h2 {
    font-size: 15px;
    line-height: 20px;
    color: #99999b ;
}

@media (min-width: 480px) {
h2 {
    font-size: 20px;
    line-height: 30px;
}
}
input {
    caret-color: #0D492D;
}

.form-control {
    outline: 4px solid #f1f1f1;
    box-shadow: none;
}

.form-control:focus {
    outline: 4px solid #0D492D;
    box-shadow: none;
}

.btn-success {
    background-color: #0D492D;
    border-color: #0D492D;
}

svg {
    fill: #0D492D;
    width: 16;
    height: 16;
}