body {
    font-family: Tahoma, Arial;
}

input {
    caret-color: #198754;
}

.form-control {
    outline: 3px solid #eaebec;
    box-shadow: none;
}
.form-control:focus {
    outline: 3px solid #198754;
    box-shadow: none;
}